.photo-grid {
  margin: 118px 48px 0;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 475px) {
  .photo-grid {
    margin: 90px 16px 0;
    
  }
}
