.places {
  margin: 92px 148px 0 145px;
  display: -ms-grid;
  display: grid;
  gap: 80px;
  max-width: 987px;
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px 24px 0;
    gap: 72px;
  }
}

@media screen and (max-width: 475px) {
  .places {
    margin: 62px 0 0;
    gap: 50px 0;
  }
}
