.header {
  margin: 34px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 34px 249px 0;
  }
}

@media screen and (max-width: 475px) {
  .header {
    margin: 20px 60px 0;
  }
}
