.header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 34px 505px 0;
}

/* media queries for different resolutions */

@media screen and (max-width: 768px) {
  .header {
    padding: 34px 249px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 20px 60px 0;
  }
}
