.place__text {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.63;
  color: #ffffff;
  margin: 25px 0 0;
}

@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 475px) {
  .place__text {
    font-size: 16px;
    line-height: 1.63;
  }
}
