.photos__image {
  max-width: 284px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .photos__image {
    max-width: 352px;
  }
}

@media screen and (max-width: 475px) {
  .photos__image {
    max-width: 288px;
  }
}
