.photos__image {
  min-width: 284px;
}

@media screen and (max-width: 768px) {
  .photos__image {
    min-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .photos__image {
    min-width: 288px;
  }
}
