.place__paragraph {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
}

.place__paragraph :first-child {
  margin: 0;
}

/* @media screen and (max-width: 768px) {
  .place__paragraph {
    min-width: 352px;
  }
} */

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
