.place__buy-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  padding: 13px 20px;
  background-color: #0278fe;
}

@media screen and (max-width: 475px) {
  .place__buy-link {
    padding: 13px 40px;
  }
}
