.cover{
    width: 1184px;
    height: 740px;
    display: flex;
    margin: 92px 48px 0;
    background-image: url(../../images/__background.png);
    background-position: center;
    /* background-color: #2A2B2C; */
    /* opacity: 0.3; */
}