.cover__overlay {
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  transition: opacity 0.3s;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}
