.cover__background {
  background-repeat: no-repeat;
  grid-area: cover;
  max-width: 1184px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
    height: 746px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 321.26px;
    height: 254px;
  }
}
