.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    "title website"
    "image paragraph"
    "frame paragraph";
  grid-gap: 48px 40px;
}

.place:last-child{
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .place {
    gap: 46px 28px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 660px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph"
      "paragraph"
      "frame";
    grid-gap: 30px 0;
    max-width: 100%;
  }
}
