.place__url-heading {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.21;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-bottom: 8px;
}
