.place__website {
  grid-area: website;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-flex-line-pack: center;
  align-content: center;
}

@media screen and (max-width: 320px) {
  .place__website {
    padding: 0 16px;
  }
}
