.group__subtitle{
    width: 280px;
    height: 66px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 32px 188px 0;
}